.DS_Store
paper/0head_ML_3FGL.pdf
ML_3FGL_paper/0head_ML_3FGL.pdf
ML_3FGL_paper_AA_style/ML_3FGL_full.pdf
AandA/40766corr/40766corr.pdf
*.blg
*.aux
*.log
*.out
*.toc
*synctex*
*.pyc
.ipynb_checkpoints
py_dima/.ipynb_checkpoints

